{% load static %}
{% comment %} fixed {% endcomment %}
<footer class="bg-light text-center text-lg-start fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-1" style="background-color: rgb(198 198 198 / 20%);">
    {% comment %} © 2023 Copyright: {% endcomment %}
    Powered by:
    <a class="text-dark" href="#">
      {% comment %} {% static 'img/' %} {% endcomment %}
      {% comment %} <img src="" alt="logo" style="width: 52px; height: 46px;"> {% endcomment %}
    </a>
  </div>
  <!-- Copyright -->
</footer>